.Container {
    background-color: #80CBC4;
}

.filterContainer {
    width: 100%;
    background-color: #4DB6AC;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.sortContainer {
    display: flex;
    width:30%;
    justify-content:center;
}

.refresh {
    color: #ffffff;
    background-color: #00BCD4;
    font-size: 12px;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.refresh:hover {
    background-color: #0097A7;
}

.filters {
    color: #ffffff;
    font-style: italic;
    font-weight: 500;    
    text-shadow: 6px 4px 5px #ffffff3f;
    padding: 10px 3px 0px;
    
}

.select {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 50%;
}

.card {
    display: flex;
    min-width: max-content;
    margin-right: 20px;
    margin-bottom: 20px;
}

.link {    
    text-decoration: none;    
}

.link:visited {
    color: none;
    text-decoration: none;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid red;
}